/* Regole generali CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* SEZIONE HEADER */
header {
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

/* SEZIONE NAVBAR */
.nav-row {
  padding: 15px;
  margin-bottom: 25px;
}

.nav-row::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 50%;
  padding-left: 25px;
}

.nav-logo {
  float: left;
  padding: 0 15px;
  width: 20%;
  text-align: center;
}

.navbar {
  padding-top: 15px;
  float: left;
  width: 30%;
  margin-left: 15px;
}

.navbar2 {
  padding-top: 15px;
  float: right;
  width: 30%;
}

.navbar a, .navbar2 a {
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  margin: 0 5px;
  display: inline-block;
}

.navbar a:hover {
  color: #f7bd1e;
}

#tutor {
  color: grey;
}

button {
  background-color: #7fb802;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  padding: 5px 20px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#login {
  background-color: #0a0382;
  border: 1px;
}

button, #login:hover {
  cursor: pointer;
}

.home {
  width: 100%;
  padding: 30px 80px;
}

h1 {
  color: #FFF;
  font-size: 3em;
  padding: 30px 30px;
}

#project {
  display: block;
  margin-top: 30px;
  padding: 10px 13px;
}

/* SEZIONE MAIN */
main {
  /* DEBUG */
  background-color: red;
  height: 1500px;
  /* end DEBUG */
}

.row1 {
  /* DEBUG */
  background-color: yellow;
  height: 200px;
  /* end DEBUG */
}

/* SEZIONE FOOTER */
footer:after {
  content: "";
  display: table;
  clear: both;
}

#div-footer:after {
  content: "";
  display: table;
  clear: both;
}

.section1-footer {
  background-color: #0f335a;
}

.block-footer {
  padding: 40px 80px;
}

.block-footer h4, .block-footer h6 {
  font-weight: 300;
  font-size: 30px;
  color: #FFF;
}

.block-footer h6 {
  font-size: 20px;
  opacity: 0.5;
}

#faqs {
  color: #f0ad4e;
  text-decoration: none;
}

.section2-footer {
  background-color: #17406b;
}

.section2-footer::after {
  content: "";
  display: table;
  clear: both;
}

.azienda, .copyright {
  width: 50%;
  float: left;
  padding: 40px 10%;
}

h5 {
  font-weight: 300;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #FFF;
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

ul li {
  margin: 15px 0;
}

ul a:hover {
  text-decoration: underline;
}

strong {
  color: #FFF;
}

strong span {
  font-size: 20px;
}

.copyright p {
  color: #FFF;
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
