/* Regole generali CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* SEZIONE HEADER */
header {
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

/* SEZIONE NAVBAR */
.nav-row {
  padding: 15px;
  margin-bottom: 25px;
}

.nav-row::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 50%;
  padding-left: 25px;
}

.nav-logo {
  float: left;
  padding: 0 15px;
  width: 20%;
  text-align: center;
}

.navbar {
  padding-top: 15px;
  float: left;
  width: 30%;
  margin-left: 15px;
}

.navbar2 {
  padding-top: 15px;
  float: right;
  width: 30%;
}

.navbar a, .navbar2 a {
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  margin: 0 5px;
  display: inline-block;
}

.navbar a:hover {
  color: #f7bd1e;
}

#tutor {
  color: grey;
}

button {
  background-color: #7fb802;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  padding: 5px 20px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#login {
  background-color: rgba(255, 0, 0, 0.0);
  border: solid lightblue 2px;
}

button, #login:hover {
  cursor: pointer;
}

.home {
  width: 100%;
  padding: 30px 80px;
}

h1 {
  color: #FFF;
  font-size: 3em;
  padding: 30px 30px;
}

#project {
  display: block;
  margin-top: 30px;
  padding: 10px 13px;
}

/* SEZIONE MAIN */
main {
  /* DEBUG */
  height: 1500px;
  /* end DEBUG */
}

.row1 {
  background-color: #f9f9f9;
  padding: 30px 15%;
  text-align: center;
  line-height: 20px;
}

.row1 p {
  opacity: 0.5;
}

/* SEZIONE 1 MID AREA */
.mid-section1 {
  margin-bottom: 80px;
}

.mid-section1::after {
  content: "";
  display: table;
  clear: both;
}

.section1-block {
  width: 33%;
  text-align: center;
  float: left;
}

.section1-block > img, h4, p {
  padding: 10px;
}

.section1-block > img {
  height: 168px;
}

.section1-block > h4 {
  color: #7fb802;
}

.section1-block > hr {
  margin: auto;
  width: 8%;
}

/* SEZIONE 2 MID AREA */
.mid-section2{
  border-top: 1px solid black;
}

.mid-section2::after {
  content: "";
  display: table;
  clear: both;
}

.section2-block {
  width: 50%;
  text-align: left;
  float: left;
  padding: 40px;
  margin-top: 5%;
}

.section2-block > img {
  padding-left: 80px;
}

.section2-block > h2 {
  padding-top: 80px;
  padding-left: 10px;
  line-height: 40px;
}

#test {
  padding-left: 10px;
  color: #98c8f8;
}

.row2 {
  background-color: #f9f9f9;
  padding: 30px 15%;
  line-height: 20px;
}

.row2::after {
  content: "";
  display: table;
  clear: both;
}

.row2 h3 {
  padding-top: 5px;
  font-size: 1.5em;
  float: left;
}

.plan {
  float: right;
}

.plan > button {
  display: inline-block;
}

p > span {
  margin: 0 20px;
}



















/* SEZIONE FOOTER */
footer:after {
  content: "";
  display: table;
  clear: both;
}

#div-footer:after {
  content: "";
  display: table;
  clear: both;
}

.section1-footer {
  background-color: #0f335a;
}

.block-footer {
  padding: 40px 151px;
}

.block-footer h4, .block-footer h6 {
  font-weight: 300;
  font-size: 30px;
  color: #FFF;
}

.block-footer h6 {
  font-size: 20px;
  opacity: 0.5;
}

#faqs {
  color: #f0ad4e;
  text-decoration: none;
}

.section2-footer {
  background-color: #17406b;
}

.section2-footer::after {
  content: "";
  display: table;
  clear: both;
}

.azienda, .copyright {
  width: 50%;
  float: left;
  padding: 40px 10%;
}

h5 {
  font-weight: 300;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #FFF;
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

ul li {
  margin: 15px 0;
}

ul a:hover {
  text-decoration: underline;
}

strong {
  color: #FFF;
}

strong span {
  font-size: 20px;
}

.copyright p {
  color: #FFF;
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
